<button (click)="addItem()">Add Item</button>
<label> Cols:
  <input type="number" [(ngModel)]="columns" placeholder="cols">
</label>

<label> Rows:
  <input type="number" [(ngModel)]="rows" placeholder="rows">
</label>

<!-- Generate list of ResizeTypes, that can be added or removed to resizeTypes variable -->
<label> Resize Types:
  <label *ngFor="let resizeType of RESIZE_TYPES">
    <input type="checkbox" [checked]="resizeTypes.includes(resizeType)" [value]="resizeType" (change)="toggleResizeType(resizeType)">
    {{resizeType}}
  </label>
</label>

<ddl-grid [columns]="columns" #grid
          [rows]="rows"
          [colGap]="colGap"
          [rowGap]="rowGap"
          [(items)]="items">
  <ddl-item *ngFor="let item of items; trackBy: itemTrackBy" [resizeTypes]="resizeTypes">
    <div class="item-info">{{item.id}} [{{item.x}},{{item.y}}] ({{item.width}},{{item.height}})</div>
    <div ddlDragHandle class="drag-handle">Handle</div>
  </ddl-item>
</ddl-grid>

<div class="drag-items" ddlDragItems [grids]="[grid]">
  <div ddlDragItem
       class="drag-item"
       [draggable]="i === 0"
       [disabled]="i == 1"
       *ngFor="let dragItem of dragItems; let i = index">{{dragItem}}</div>
</div>
