.item-info {
  position: absolute;
  left: 40%;
  top: 40%;
}

.drag-items {
  margin-top: 2em;
  width: 100%;

  .drag-item {
    padding: 1em;
    background-color: white;
    width: fit-content;
    margin-bottom: 0.3em;
  }
}

.drag-handle {
  cursor: move;
  height: 20px;
  background-color: #f0f0f0;
  position: absolute;
  top: 15px;
  right: 15px;
}
