<button (click)="addItemTop()">Add Item</button>
<label> Cols:
  <input type="number" [(ngModel)]="columns" placeholder="cols">
</label>

<label> Rows:
  <input type="number" [(ngModel)]="rows" placeholder="rows">
</label>

<!-- Generate list of ResizeTypes, that can be added or removed to resizeTypes variable -->
<label> Resize Types:
  <label *ngFor="let resizeType of RESIZE_TYPES">
    <input type="checkbox" [checked]="resizeTypes.includes(resizeType)" [value]="resizeType" (change)="toggleResizeType(resizeType)">
    {{resizeType}}
  </label>
</label>

<label>
  <input type="checkbox" [(ngModel)]="showRemoveItemButton"> Show remove button
</label>

<ddl-grid [columns]="columns" #gridTop class="grid-top"
          [rows]="rows"
          [colGap]="colGap"
          [rowGap]="rowGap"
          (itemDropped)="itemDropped($event)"
          [(items)]="itemsTop">
  <ddl-item *ngFor="let item of itemsTop; trackBy: itemTrackBy" [resizeTypes]="resizeTypes">
    <div class="item-info">{{item.id}} [{{item.x}},{{item.y}}] ({{item.width}},{{item.height}})</div>
    <span class="item-info-data">{{item.data}}</span>
    <button *ngIf="showRemoveItemButton" class="remove-item-btn" (click)="removeItemTop(item.id)">x</button>
    <div ddlDragHandle class="drag-handle">Handle</div>
  </ddl-item>
</ddl-grid>

<div class="drag-items" ddlDragItems [grids]="[gridTop, gridBottom]">
  <div ddlDragItem
       class="drag-item"
       [draggable]="true"
       [disabled]="i == 1"
       [width]="2"
       [height]="2"
       [dragData]="i"
       *ngFor="let dragItem of dragItems; let i = index">{{dragItem}}</div>
</div>

<ddl-grid [columns]="columns" #gridBottom class="grid-bottom"
          [rows]="rows"
          [colGap]="colGap"
          [rowGap]="rowGap"
          [(items)]="itemsBottom">
  <ddl-item *ngFor="let item of itemsBottom; trackBy: itemTrackBy" [resizeTypes]="resizeTypes">
    <div class="item-info">{{item.id}} [{{item.x}},{{item.y}}] ({{item.width}},{{item.height}})</div>
    <span class="item-info-data">{{item.data}}</span>
    <button *ngIf="showRemoveItemButton" class="remove-item-btn" (click)="removeItemBottom(item.id)">x</button>
    <div ddlDragHandle class="drag-handle">Handle</div>
  </ddl-item>
</ddl-grid>
